
.register
{
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.CRUDTable {
    align-items: center;
}


table, td, th{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.form-body{
    align-items: center;
    text-align: center;
}
